<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 歷程
        link(rel="stylesheet", href="./css/style.css")
        <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js'></script>
    body
        #app
            .header
                span.span_1 {{header[0].span_name}}
                img(:src="header[0].img", alt="github_icon")
                span.span_2
                    a(href="https://github.com/MalygosDuke" target="_blank") Github
            .content
                .content_header
                    h1 MalygosDuke作品集
                    h3 學習歷程之點點滴滴......
                .project
                    .project_card(v-for="(item,index) in content")
                        .img
                            img(:src="item.project_img")
                        .card_body
                            h3 {{item.name}}
                            ol
                                li(v-for="item in content[index].explain") {{item}}
                        .source
                            img(:src="header[0].img", alt="github_icon")
                            a(:href="content[index].source" target="_blank") Source

            .footer
                h3.footer_h3 Copyright by MalygosDuke
        script(src="./js/project.js")